PORT=5000
MONGODB_URI=mongodb+srv://hassannoor2309_db_user:JDbYyAiez2vxKGbf@cluster0.f4lhknl.mongodb.net/estate?retryWrites=true&w=majority
JWT_SECRET=change-this-in-production
CLIENT_URL=http://localhost:5173,https://ahmad-wattoo-real-estate.vercel.app
SERVER_URL=https://wato-backend.vercel.app/api,http://localhost:5000
ADMIN_EMAIL=hassannoor2309@gmail.com
ADMIN_PASSWORD=ChangeMe123!
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hassannoor2309@gmail.com
SMTP_PASS=bytw mbcn crou hpnc
MAIL_FROM=hassannoor2309@gmail.com